**Student name = fatima Nawab**


#**Python Mini-Project: Space Mission Control Scenario:**

You’re working as a Python developer for Intergalactic Space Mission Control (ISMC). Your job
is to write Python programs to help astronauts and engineers track their missions, crew details,
and spaceship performance using the given dataset (space_missions.csv).

This project will test your knowledge of Python basics, data structures, control flow, functions,
and exception handling.

#Part A: Python Foundations

1. Print a welcome message: "Welcome to ISMC Mission Control!"
2. Store the number of missions in a variable and print it. (Hint: count rows in the CSV.)
3. Ask the user to input a destination (e.g., "Moon") and print a message like: "Searching
missions to Moon..."
4. Calculate the average duration of all missions and print it.
5. Check if the number of missions to Mars is greater than missions to the Moon. Print True or
False.

In [ ]:
import pandas as pd  # importing panda library

In [ ]:
from google.colab import drive # mountin drive
drive.mount('/content/drive')

df = pd.read_csv('/content/space_mission.csv')  # uploading datafile
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,mission_id,mission_name,crew_count,destination,duration_days,success,fuel_level,commander,year
0,1.0,Orion-Alpha,5.0,Moon,12.0,True,78.4,Amelia Vega,2005.0
1,2.0,Apollo-X,3.0,Mars,340.0,False,12.7,Liam Carter,2010.0
2,3.0,Voyager-Pulse,6.0,ISS,45.0,True,54.2,Noah Hassan,2018.0
3,4.0,Nova-7,4.0,Jupiter,720.0,False,0.0,Ayesha Rahman,2021.0
4,5.0,Luna-Hope,2.0,Moon,14.0,True,65.8,Sophia Malik,2012.0

In [ ]:
# 1. Print a welcome message: "Welcome to ISMC Mission Control!"
print("Welcome to ISMC Mission Control!")

Welcome to ISMC Mission Control!

In [ ]:
 # 2. Store the number of missions in a variable and print it.
nums_of_missions = len(df)
print("Total number of missions:", nums_of_missions)

Total number of missions: 301

In [ ]:
# 3. Ask the user to input a destination (e.g., "Moon") and print a message like:"Searching missions to Moon..."
destination = input("Enter a destination (e.g., Moon): ")
print("Searching missions to ISS...")

Enter a destination (e.g., Moon): ISS
Searching missions to ISS...

In [ ]:
# 4. Calculate the average duration of all missions and print it.
avg_duration = df["duration_days"].mean()
print("Average mission duration:", avg_duration)

Average mission duration: 265.28333333333336

In [ ]:
# 5. Check if the number of missions to Mars is greater than missions to the Moon. Print True or False
mars_missions = df[df["destination"] == "Mars"].shape[0]
moon_missions = df[df["destination"] == "Moon"].shape[0]

print("Are missions to Mars greater than missions to Moon?")
print(mars_missions > moon_missions)

Are missions to Mars greater than missions to Moon?
False

# Part B: Data Structures & Control Flow
6. Create a list of all unique destinations and print it.
7. Use slicing to print the first 5 mission names.
8. Use a dictionary to store mission name its assigned commander. Print the dictionary for the
first 10 missions.
9. If a mission has no crew, print "Unmanned mission". If there’s just one crew member, print
"Solo mission". Otherwise, print "Crewed mission". Do this for the first 20 missions.
10. Using a loop, count how many missions lasted more than 365 days.

In [ ]:
# 6. Create a list of all unique destinations and print it.
unique_destinations = df["destination"].unique().tolist()  # unique used to get unique values and tolist to make a list
print("Unique destinations:", unique_destinations)

Unique destinations: ['Moon', 'Mars', 'ISS', 'Jupiter', 'Saturn', 'Venus', nan]

In [ ]:
# 7. Use slicing to print the first 5 mission names.
first_5_missions = df["mission_name"][:5]
print("First 5 Missions:")
print(first_5_missions)

First 5 Missions:
0      Orion-Alpha
1         Apollo-X
2    Voyager-Pulse
3           Nova-7
4        Luna-Hope
Name: mission_name, dtype: object

In [ ]:
# 8.Use a dictionary to store mission name its assigned commander.Print the dictionary for the first 10 missions
mission_commander_dict = dict(zip(df["mission_name"][:10], df["commander"][:10]))
print("Mission - Commander Dictionary (first 10):")
print(mission_commander_dict)

Mission - Commander Dictionary (first 10):
{'Orion-Alpha': 'Amelia Vega', 'Apollo-X': 'Liam Carter', 'Voyager-Pulse': 'Noah Hassan', 'Nova-7': 'Ayesha Rahman', 'Luna-Hope': 'Sophia Malik', 'Starlight-3': 'Ethan Kim', 'Aurora': 'Isabella Torres', 'Cosmo-9': 'Daniel Okoye', 'Gemini-Prime': 'Zara Sheikh', 'Zenith-1': 'Lucas Wong'}

In [ ]:
# 9.If a mission has no crew, print "Unmanned mission". If there’s just one crew member, print "Solo mission".
# Otherwise, print "Crewed mission". Do this for the first 20 missions.
for i in range(20): # for loop to check firs 20 missions
    crew = df.loc[i, "crew_count"]
    if crew == 0:                       #condition statment to check the mission type
        print(df.loc[i, "mission_name"], "is a Unmanned mission")
    elif crew == 1:
        print(df.loc[i, "mission_name"], "is a Solo mission")
    else:
        print(df.loc[i, "mission_name"], "is a Crewed mission")

Orion-Alpha is a Crewed mission
Apollo-X is a Crewed mission
Voyager-Pulse is a Crewed mission
Nova-7 is a Crewed mission
Luna-Hope is a Crewed mission
Starlight-3 is a Unmanned mission
Aurora is a Crewed mission
Cosmo-9 is a Crewed mission
Gemini-Prime is a Solo mission
Zenith-1 is a Crewed mission
Atlas is a Crewed mission
Odyssey is a Crewed mission
Orion-Beta is a Crewed mission
Starfire is a Crewed mission
Comet-Quest is a Crewed mission
Phoenix-2 is a Crewed mission
Luna-Rise is a Crewed mission
Solaris is a Crewed mission
Infinity is a Crewed mission
Exo-Prime is a Solo mission

In [ ]:
# 10.Using a loop, count how many missions lasted more than 365 days.
count_days = 0   # start with 0  dyas
for duration in df["duration_days"]:
    if duration > 365:   # check condition
        count_days += 1
print("Number of missions lasting more than 365 days:", count_days)

Number of missions lasting more than 365 days: 89

# Part C: Control Flow & Functions
11. Write a function mission_success_rate(destination) that returns the percentage of
successful missions for a given destination. Test it for "Moon", "Mars", and "Jupiter".
12. Write a function longest_mission() that returns the mission name and duration of the
longest mission.
13. Write a function missions_by_year(year) that returns all missions launched in a given
year. Test with 2010.
14. Write a function fuel_check(fuel_level) that returns "Critical" if fuel level is less than
20, "Moderate" if fuel level is equal to 20 or between 20 and 70, and "Safe" if fuel level is
greater than or equal to 70. Apply this to the last 50 missions.
15. Write a nested loop to count the number of missions per commander for each destination.
Print results like:
Moon:
 Amelia Vega: 1 mission
 Zara Sheikh: 1 mission
Mars:
 Liam Carter: 2 missions

In [ ]:
# 11. Write a function mission_success_rate(destination) that returns the percentage of success

def mission_success_rate(destination):  # define function mission success rate
    # filter missions for this destination
    missions = df[df["destination"] == destination]

    if len(missions) == 0:  # if there is no mission
        return "No missions found."
    total = len(missions)   # count total missions

    success_count = (missions["success"] == True).sum()   # count how many are successful (True)

    success_rate = (success_count / total) * 100   # calculate percentage
    return success_rate
# test data
print("Moon Success Rate:", mission_success_rate("Moon"), "%")
print("Mars Success Rate:", mission_success_rate("Mars"), "%")
print("ISS Success Rate:", mission_success_rate("ISS"), "%")

Moon Success Rate: 100.0 %
Mars Success Rate: 50.877192982456144 %
ISS Success Rate: 100.0 %

In [ ]:
# 12. Write a function longest_mission() that returns the mission name and duration of the longest mission.
def longest_mission():
    longest = df.loc[df["duration_days"].idxmax()]  # find the row with the maximum duration

    mission_name = longest["mission_name"] # extract mission name and duration
    duration = longest["duration_days"]

    return mission_name, duration

name, days = longest_mission()
print(f"The longest mission is '{name}' with a duration of {days} days.")

The longest mission is 'Cosmo-9' with a duration of 800.0 days.

In [ ]:
# 13. Write a function missions_by_year(year) that returns all missions launched in a given year. Test with 2010
def missions_by_year(year):

    missions = df[df["year"] == year]   # filter missions for the year

    if missions.empty:   # condition if no mission found
        return "No missions found."

    return missions[["mission_id", "mission_name", "destination", "year"]]

print(missions_by_year(2010))  # check for 2010

     mission_id  mission_name destination    year
1           2.0      Apollo-X        Mars  2010.0
21         22.0      Apollo-Z      Saturn  2010.0
52         53.0    Orion-Zeta        Moon  2010.0
74         75.0   Comet-Blaze        Mars  2010.0
96         97.0    Luna-Shine       Venus  2010.0
117       118.0     Solaris-6        Moon  2010.0
132       133.0      Orion-Mu       Venus  2010.0
147       148.0      Cosmo-16         ISS  2010.0
166       167.0      Aurora-I        Moon  2010.0
189       190.0     Zenith-10        Mars  2010.0
208       209.0  Gemini-Crest        Mars  2010.0
219       220.0  Exo-Frontier       Venus  2010.0
239       240.0   Exo-Pioneer        Mars  2010.0
261       262.0     Apollo-A9        Mars  2010.0
275       276.0    Phoenix-15      Saturn  2010.0
289       290.0     Zenith-15        Mars  2010.0

In [ ]:
# 14.Write a function fuel_check(fuel_level) that returns "Critical" if fuel level is less than 20, "Moderate" if fuel level is equal to 20 or between 20 and 70, and "Safe" if fuel level is greater than or equal to 70. Apply this to the last 50 missions
# Function for fuel check
def fuel_check(fuel_level):
    if fuel_level < 20:
        return "Critical"
    elif 20 <= fuel_level < 70:
        return "Moderate"
    else:
        return "Safe"

# Apply to the last 50 missions
last_50 = df.tail(50)  # select last 50 rows
last_50["fuel_status"] = last_50["fuel_level"].apply(fuel_check)

# Show results
print(last_50[["mission_id", "mission_name", "fuel_level", "fuel_status"]])

     mission_id  mission_name  fuel_level fuel_status
251       252.0    Odyssey-13        97.7        Safe
252       253.0   Orion-Zeta2        87.4        Safe
253       254.0   Starfire-13        96.8        Safe
254       255.0   Comet-Dream         8.5    Critical
255       256.0    Phoenix-14        71.2        Safe
256       257.0    Luna-Peak2        98.9        Safe
257       258.0    Solaris-13        11.1    Critical
258       259.0   Infinity-13        83.4        Safe
259       260.0       Exo-Sky        97.5        Safe
260       261.0    Orion-Tau2        86.1        Safe
261       262.0     Apollo-A9        10.9    Critical
262       263.0  Voyager-Rise        95.9        Safe
263       264.0       Nova-20        79.6        Safe
264       265.0   Luna-Surge2         7.8    Critical
265       266.0  Starlight-16        99.6        Safe
266       267.0      Aurora-N        70.5        Safe
267       268.0      Cosmo-22        60.8    Moderate
268       269.0  Gemini-Quest        97.2        Safe
269       270.0     Zenith-14        88.5        Safe
270       271.0     Atlas-XIV         9.4    Critical
271       272.0    Odyssey-14        63.5    Moderate
272       273.0  Orion-Delta2        99.8        Safe
273       274.0   Starfire-14        82.3        Safe
274       275.0    Comet-Edge        96.4        Safe
275       276.0    Phoenix-15         8.0    Critical
276       277.0    Luna-Glide        85.2        Safe
277       278.0    Solaris-14        94.7        Safe
278       279.0   Infinity-14        72.4        Safe
279       280.0      Exo-Dawn        10.3    Critical
280       281.0    Orion-Phi3        97.1        Safe
281       282.0    Apollo-A10        90.5        Safe
282       283.0  Voyager-Lite        12.6    Critical
283       284.0       Nova-21        98.8        Safe
284       285.0    Luna-Rise2        73.0        Safe
285       286.0  Starlight-17        81.7        Safe
286       287.0      Aurora-O         9.0    Critical
287       288.0      Cosmo-23        95.5        Safe
288       289.0  Gemini-Orbit        87.3        Safe
289       290.0     Zenith-15        14.1    Critical
290       291.0      Atlas-XV        62.1    Moderate
291       292.0    Odyssey-15        97.9        Safe
292       293.0  Orion-Theta2        83.0        Safe
293       294.0   Starfire-15        96.6        Safe
294       295.0   Comet-Light         7.1    Critical
295       296.0    Phoenix-16        99.5        Safe
296       297.0   Luna-Crest2        88.4        Safe
297       298.0    Solaris-15        13.3    Critical
298       299.0   Infinity-15        98.2        Safe
299       300.0     Exo-Solar        61.9    Moderate
300         NaN           NaN         NaN        Safe

/tmp/ipython-input-3276662076.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_50["fuel_status"] = last_50["fuel_level"].apply(fuel_check)

In [ ]:
# 15. Write a nested loop to count the number of missions per commander for each destination. Print results like: Moon: Amelia Vega: 1 mission Zara Sheikh: 1 mission Mars: Liam Carter: 2 missions.
 # nested loops
destinations = df["destination"].unique()

for dest in destinations:  # outer loop for each destination
    commanders = df[df["destination"] == dest]["commander"].unique()

    for cmd in commanders:  # inner loop for each commander
        count = len(df[(df["destination"] == dest) & (df["commander"] == cmd)])
        print(f"{dest}: {cmd}: {count} mission{'s' if count > 1 else ''}")

Moon: Amelia Vega: 1 mission
Moon: Sophia Malik: 1 mission
Moon: Isabella Torres: 1 mission
Moon: Arjun Patel: 2 missions
Moon: Emily Davis: 1 mission
Moon: Charlotte Evans: 1 mission
Moon: William Chen: 1 mission
Moon: Isaac Flores: 1 mission
Moon: Aaliyah Shah: 1 mission
Moon: Samuel White: 1 mission
Moon: Lucas Martin: 1 mission
Moon: Mohammed Ali: 1 mission
Moon: Maria Rossi: 1 mission
Moon: David Lopez: 1 mission
Moon: Lara Ahmed: 2 missions
Moon: Jack Taylor: 1 mission
Moon: Isabella Khan: 1 mission
Moon: James Evans: 1 mission
Moon: Ella Turner: 1 mission
Moon: Ethan Scott: 1 mission
Moon: Leila Khan: 1 mission
Moon: Liam Clark: 1 mission
Moon: Sofia Rahman: 1 mission
Moon: Laila Ahmed: 1 mission
Moon: Oliver Lewis: 1 mission
Moon: Leah Ali: 1 mission
Moon: Hannah Davis: 1 mission
Moon: Sara Ali: 1 mission
Moon: Oliver Brown: 1 mission
Moon: Sara Torres: 1 mission
Moon: Maya Clarke: 1 mission
Moon: Sofia Patel: 1 mission
Moon: Zoe Martin: 1 mission
Moon: Emily Scott: 1 mission
Moon: Aisha Khan: 1 mission
Moon: Isabella Smith: 1 mission
Moon: Huda Johnson: 1 mission
Moon: Ethan White: 1 mission
Moon: Liam Wilson: 1 mission
Moon: Amira Rahman: 1 mission
Moon: Hannah Brown: 1 mission
Moon: Aisha White: 1 mission
Moon: James Davis: 1 mission
Moon: Lara Torres: 1 mission
Moon: Noah Brown: 1 mission
Moon: Jacob Ali: 1 mission
Moon: Adam Carter: 1 mission
Moon: David Smith: 1 mission
Moon: Ethan Torres: 1 mission
Moon: Emma White: 1 mission
Moon: Zara Torres: 1 mission
Moon: Noah Scott: 2 missions
Moon: Leila Ali: 1 mission
Moon: Laila Khan: 1 mission
Moon: Hassan Ali: 1 mission
Moon: Zara Wilson: 1 mission
Moon: Emma Carter: 1 mission
Moon: Daniel Green: 1 mission
Moon: Sara Davis: 1 mission
Moon: Emma Lopez: 1 mission
Moon: Huda Ali: 1 mission
Moon: Leo White: 1 mission
Moon: Amira Torres: 1 mission
Moon: Sofia Rossi: 1 mission
Moon: Hassan Scott: 1 mission
Moon: Leo Khan: 1 mission
Moon: Amir Johnson: 1 mission
Moon: Huda Lopez: 1 mission
Moon: Sofia Walker: 1 mission
Moon: Leila Green: 1 mission
Moon: Leo Torres: 1 mission
Moon: Charlotte Green: 1 mission
Moon: Liam Brown: 1 mission
Moon: Amira Ahmed: 1 mission
Moon: Noah Smith: 1 mission
Moon: Ethan Johnson: 1 mission
Moon: Zara Brown: 1 mission
Moon: Lara Smith: 1 mission
Moon: David Brown: 1 mission
Moon: Liam Torres: 1 mission
Moon: Leo Scott: 1 mission
Moon: Jacob Green: 1 mission
Mars: Liam Carter: 1 mission
Mars: Ethan Kim: 1 mission
Mars: Lucas Wong: 1 mission
Mars: Oliver Brown: 1 mission
Mars: James Park: 1 mission
Mars: Alexander Green: 1 mission
Mars: Nadia Ali: 1 mission
Mars: Elena Petrova: 1 mission
Mars: Daniel Carter: 1 mission
Mars: Leah Wright: 1 mission
Mars: Zara Ali: 2 missions
Mars: Charlotte King: 1 mission
Mars: Mason Ali: 1 mission
Mars: Huda Rahman: 1 mission
Mars: Mohammed Sale: 1 mission
Mars: Zoe Martin: 1 mission
Mars: Maya Lopez: 1 mission
Mars: Ethan Green: 1 mission
Mars: Ali Hassan: 1 mission
Mars: Daniel Brown: 1 mission
Mars: William Green: 1 mission
Mars: Emma Walker: 1 mission
Mars: Liam Khan: 1 mission
Mars: Isla Rahman: 1 mission
Mars: Emma Wilson: 2 missions
Mars: Liam Rossi: 1 mission
Mars: Daniel Walker: 1 mission
Mars: Mason Clark: 1 mission
Mars: Leah Scott: 1 mission
Mars: Ethan Lopez: 1 mission
Mars: Daniel Thompso: 1 mission
Mars: Maya Johnson: 1 mission
Mars: Lucas Walker: 1 mission
Mars: Emma Green: 1 mission
Mars: Zara Johnson: 1 mission
Mars: Laila Brown: 1 mission
Mars: Liam Ali: 1 mission
Mars: James White: 1 mission
Mars: David Kim: 1 mission
Mars: Noah Patel: 1 mission
Mars: Mason Lee: 1 mission
Mars: Adam Brown: 1 mission
Mars: Charlotte Green: 1 mission
Mars: Jacob Taylor: 1 mission
Mars: Zara Smith: 1 mission
Mars: Emma Patel: 2 missions
Mars: Charlotte Brown: 2 missions
Mars: Liam Torres: 1 mission
Mars: Zara Brown: 1 mission
Mars: Zoe Smith: 1 mission
Mars: Sara Brown: 1 mission
Mars: Jacob Wilson: 1 mission
Mars: Charlotte Torres: 1 mission
ISS: Noah Hassan: 1 mission
ISS: Zara Sheikh: 1 mission
ISS: Adam Rossi: 1 mission
ISS: Jacob Thompson: 1 mission
ISS: Sofia Hernandez: 1 mission
ISS: Amy Turner: 1 mission
ISS: Henry Scott: 1 mission
ISS: Sophia Carter: 1 mission
ISS: Anna Lewis: 1 mission
ISS: Aisha Malik: 1 mission
ISS: Emma Scott: 1 mission
ISS: Maya Scott: 1 mission
ISS: Daniel Smith: 1 mission
ISS: David Chen: 1 mission
ISS: Daniel Green: 1 mission
ISS: James Smith: 1 mission
ISS: Ayesha Ali: 1 mission
ISS: Amir Rahman: 1 mission
ISS: Noah White: 1 mission
ISS: Charlotte Lee: 1 mission
ISS: Sofia Walker: 1 mission
ISS: Emily Green: 1 mission
ISS: Liam Scott: 1 mission
ISS: Zoe Carter: 1 mission
ISS: Ethan Johnson: 1 mission
ISS: Emma Brown: 1 mission
ISS: Leo Johnson: 1 mission
ISS: Amir Brown: 1 mission
ISS: Charlotte Johnso: 1 mission
ISS: Sara Malik: 1 mission
ISS: Lara Rossi: 1 mission
ISS: Sofia Ahmed: 1 mission
ISS: James Wilson: 1 mission
ISS: Lara Ahmed: 1 mission
ISS: Liam Brown: 1 mission
ISS: Maya Torres: 1 mission
ISS: David Martin: 1 mission
ISS: Daniel Brown: 1 mission
ISS: David Ali: 1 mission
ISS: Huda Torres: 1 mission
ISS: Leila Torres: 1 mission
ISS: Ethan Brown: 1 mission
ISS: Hassan Ali: 1 mission
Jupiter: Ayesha Rahman: 1 mission
Jupiter: Maya Iqbal: 1 mission
Jupiter: Sara Ahmed: 1 mission
Jupiter: Leila Noor: 1 mission
Jupiter: Joshua Lee: 1 mission
Jupiter: Aaron Walker: 1 mission
Jupiter: Isla Murphy: 1 mission
Jupiter: Leo Edwards: 1 mission
Jupiter: Olivia Johnson: 1 mission
Jupiter: Liam Ali: 1 mission
Jupiter: Daniel Smith: 1 mission
Jupiter: James Carter: 1 mission
Jupiter: Jack Wilson: 1 mission
Jupiter: Jacob Johnson: 1 mission
Jupiter: Sophia Ahmed: 1 mission
Jupiter: Hassan Ali: 1 mission
Jupiter: Leo Thompson: 2 missions
Jupiter: Jacob Carter: 1 mission
Jupiter: Joshua Brown: 1 mission
Jupiter: Daniel Kim: 1 mission
Jupiter: George Martin: 1 mission
Jupiter: Adam Carter: 1 mission
Jupiter: Ethan King: 1 mission
Jupiter: Huda Brown: 1 mission
Jupiter: Aisha Khan: 1 mission
Jupiter: Charlotte Lee: 1 mission
Jupiter: Maya Carter: 1 mission
Jupiter: Sofia Walker: 1 mission
Jupiter: Hassan Khan: 1 mission
Jupiter: Olivia Brown: 1 mission
Jupiter: Ethan Martin: 1 mission
Jupiter: Daniel Brown: 1 mission
Jupiter: David Ali: 1 mission
Jupiter: George White: 1 mission
Jupiter: Emma Green: 1 mission
Jupiter: Emily Torres: 1 mission
Jupiter: Emma Johnson: 1 mission
Jupiter: Zara Wilson: 1 mission
Jupiter: Sara Green: 1 mission
Jupiter: Noah Green: 1 mission
Jupiter: Zoe Martin: 1 mission
Saturn: Daniel Okoye: 1 mission
Saturn: Idris Khan: 1 mission
Saturn: Grace Wilson: 1 mission
Saturn: Ryan Cooper: 1 mission
Saturn: Emma Clark: 1 mission
Saturn: George Baker: 1 mission
Saturn: Omar Hassan: 1 mission
Saturn: William Brown: 1 mission
Saturn: Sarah White: 1 mission
Saturn: Charlotte Ali: 1 mission
Saturn: Zara Rahman: 1 mission
Saturn: Sophia Ali: 1 mission
Saturn: Noah White: 1 mission
Saturn: Charlotte Davis: 1 mission
Saturn: Eva Johnson: 1 mission
Saturn: William Green: 1 mission
Saturn: Jacob Davis: 2 missions
Saturn: Sara Ali: 1 mission
Saturn: Jacob Clark: 1 mission
Saturn: Daniel Scott: 1 mission
Saturn: Liam Torres: 1 mission
Saturn: Sara Scott: 1 mission
Saturn: Lara Ahmed: 1 mission
Saturn: Ethan White: 1 mission
Saturn: Jacob Scott: 1 mission
Saturn: Zoe Johnson: 1 mission
Saturn: William Chen: 1 mission
Saturn: Charlotte King: 1 mission
Saturn: Daniel Lee: 1 mission
Saturn: Liam White: 1 mission
Saturn: Jacob White: 1 mission
Saturn: David Scott: 1 mission
Saturn: Amira Scott: 1 mission
Saturn: Sara Brown: 1 mission
Venus: Hannah Clarke: 1 mission
Venus: Lily Robinson: 1 mission
Venus: Olivia Khan: 1 mission
Venus: Ethan Brown: 3 missions
Venus: Amira Saleh: 1 mission
Venus: Jacob Robinson: 1 mission
Venus: Thomas Brown: 1 mission
Venus: Ryan Cooper: 1 mission
Venus: Isabella White: 1 mission
Venus: Leo Carter: 1 mission
Venus: Zara Malik: 1 mission
Venus: Lara Scott: 1 mission
Venus: George Lopez: 1 mission
Venus: Laila Green: 1 mission
Venus: Ethan Torres: 1 mission
Venus: Lara Ahmed: 1 mission
Venus: Zara Brown: 1 mission
Venus: Zara Martin: 1 mission
Venus: Amelia Ali: 1 mission
Venus: Isaac Lee: 1 mission
Venus: Sofia White: 2 missions
Venus: Ethan Walker: 1 mission
Venus: Daniel Green: 1 mission
Venus: Sara Martin: 1 mission
Venus: Daniel Torres: 1 mission
Venus: Amira Hassan: 1 mission
Venus: Laila Torres: 1 mission
Venus: Noah Scott: 1 mission
Venus: Ethan Johnson: 1 mission
Venus: Zoe Carter: 1 mission
Venus: Sara Smith: 1 mission
Venus: Ethan White: 1 mission
Venus: George Scott: 1 mission
Venus: Daniel Scott: 1 mission
Venus: Emma Davis: 1 mission

# Part D: Exception Handling & Robust Code
16. Write a try-except block to safely convert user input into an integer for selecting a mission
ID. If invalid, print "Invalid input. Please enter a number."
17. Paste your code for Q13 (missions_by_year) and modify it to handle the case when no
missions exist for a year. Return "No missions found."
18. Write a function get_mission(mission_id) that returns mission details if ID exists or
raises a ValueError if mission_id is not found. Handle it with try-except.
19. Ask user for a mission ID, and if input is not a number, print "Please enter digits
only." If the mission itself does not exist at all, print "Mission not found."
20. Paste your code for Q19 and use finally to print "Mission lookup complete." after it is
executed, no matter what happens.

In [ ]:
# 16.Write a try-except block to safely convert user input into an integer for selecting a mission ID. If invalid, print "Invalid input. Please enter a number."
try:
    mission_id = int(input("Enter a mission ID: "))  # user input
    print(f"You selected mission ID: {mission_id}")
except ValueError:                                # handling value error
    print("Invalid input. Please enter a number.")

Enter a mission ID: tt
Invalid input. Please enter a number.

In [ ]:
# 17. Paste your code for Q13 (missions_by_year) and modify it to handle the case when no missions exist for a year. Return "No missions found."
def missions_by_year(year):
    try:
        missions = df[df["year"] == year]         # filter missions for the year

        if missions.empty:   # if no missions exist
            return "No missions found."
        return missions[["mission_id", "mission_name", "destination", "year"]]
    except Exception as e:
        return f"Error: {e}"
print(missions_by_year(2050))

No missions found.

In [ ]:
# 18. Write a function get_mission(mission_id) that returns mission details if ID exists or raises a ValueError if mission_id is not found. Handle it with try-except
def get_mission(mission_id):
    try:
        mission = df[df["mission_id"] == mission_id] # find mission by mission_id
        if mission.empty:   # if no mission found
            raise ValueError("Mission ID not found.")
        return mission  # return mission details
    except ValueError as ve:
        return f"Error: {ve}"
    except Exception as e:  # any other unexpected error
        return f"Unexpected error: {e}"
print(get_mission(5))
print(get_mission(999))  # mission_ID doesnot exixt lets r this

   mission_id mission_name  crew_count destination  duration_days success  \
4         5.0    Luna-Hope         2.0        Moon           14.0    True

   fuel_level     commander    year
4        65.8  Sophia Malik  2012.0
Error: Mission ID not found.

In [ ]:
# 19.Ask user for a mission ID, and if input is not a number, print "Please enter digits only." If the mission itself does not exist at all, print "Mission not found.
try:
    user_input = input("Enter a mission ID: ")   # ask user input
    if not user_input.isdigit():     # check if input is digits only
        print("Please enter digits only.")
    else:
        mission_id = int(user_input)  # convert to integer
        mission = df[df["mission_id"] == mission_id]    # check if mission exists
        if mission.empty:
            print("Mission not found.")
        else:
            print("Mission details:")
            print(mission)

except Exception as e:
    print("Unexpected error:", e)

Enter a mission ID: dsfsd
Please enter digits only.

In [ ]:
# 20. Paste your code for Q19 and use finally to print "Mission lookup complete." after it is executed, no matter what happens.
try:
    user_input = input("Enter a mission ID: ")     # ask user input
    if not user_input.isdigit():     # check if input is digits only
        print("Please enter digits only.")
    else:
        mission_id = int(user_input)  # convert to integer
        mission = df[df["mission_id"] == mission_id]  # check if mission exists
        if mission.empty:
            print("Mission not found.")
        else:
            print("Mission details:")
            print(mission)
except Exception as e:             # incase error happende
    print("Unexpected error:", e)

finally:                               # it will run no matter what
    print("Mission lookup complete.")

Enter a mission ID: sfd
Please enter digits only.
Mission lookup complete.